.navBarBackgroud {
		background-image: url('../images/nav.png'); 
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.backgroundOpacity {
		background-color: rgba(255, 255, 255, 0.6);
	}
	html,body,.container
	{
		height:100%;
	}
	.row
	{
		height: 2000px;
		display: table-row;
	}
	@media (min-width: 992px) 
	{
	  .row .no-float {
		  display: table-cell;
		  float: none;
	  }
	}
	.container
	{
		display:table;
		width: 100%;
		margin-top: -50px;
		padding: 50px 0 0 0; /*set left/right padding according to needs*/
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute; 
		top: 60px; 
		bottom: 0;
	}
	.menuItem {
		padding: 15px 10px;
		text-align: center;
	}
	.noBottomMargin {
		margin-bottom: 0px;
	}
	
	.noLink:link {
		color: lightblue;
		text-decoration: none;
	}
	.noLink:visited {
		color: lightblue;
		text-decoration: none;
	}
	.noLink:hover {
		color: lightblue;
		text-decoration: none;
	}
	.noLink:active {
		color: lightblue;
		text-decoration: none;
	}
	
	.noMarginPadding {
		margin: 0; 
		padding: 0;
	}