.icon.style2.no-border {
	border: none;
}

.center-text {
	text-align: center;
}

.margin-top20 {
	margin-top: 20px;
}

.tiles > article  {
    text-shadow: 0 0 1px #000000;
}

.tiles > article > a > .content > p {
    text-shadow: 0 0 5px #000000;
}